<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<title>Register</title>
<link rel="stylesheet" th:href="@{/register/css/bootstrap.min.css}">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body>
	<p>Enter your account email address to receive an email with
		password reset instructions</p>
	<div class="alert alert-success" role="alert" id="resetPwdMsgDiv"
		style="display: none">
		<p id="resetPwdMsgText"></p>
	</div>
	<form th:action="@{/password/request}" method="post"
		th:object="${forgotPassword}" id="resetPasswordForm">
		<div th:if="${param.error}">
			<div class="alert alert-danger">
				<span th:text="#{login.error}"></span>
			</div>

		</div>
		<div class="input-group mb-31111">
			<input type="email" class="form-control" th:field="*{email}"
				placeholder="Email" autocomplete=”off”>
			<div class="input-group-append">
				<div class="input-group-text">
					<span class="fas fa-envelope"></span>
				</div>
			</div>
		</div>
		<button type="submit" id="resetPassword" class="btn btn-primary">Reset
			Password</button>
	</form>
</body>
</html>